<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="film-container">
        <h1>Filmography</h1>
        <hr>
        <h2>Popular Movies:</h2>
        <ul>
            <li>John Wick - 2014</li>
            <li>Constantine - 2005</li>
            <li>Sweet November - 2001</li>
            <li>The Matrix - 1999</li>
            <li>A walk in the Clouds - 1995</li>
            <li>Speed - 1994</li>
            <li>Little Budha - 1993</li>
            <li>Dracula - 1992</li>
            <li>Point Break - 1991</li>
            <li>Bill&Ted Excellent Adventure - 1989</li>
            <a href="/home">Back to Home</a>
        </ul>
    </div>
    
</body>
</html>