<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="/images/Keanu7.jpeg" alt="keanu-pic"/>
        <article class="article-cont">
            <h1>Welcome!</h1>
            <p>This is a site about our favorite artist Keanu Reeves.</p>
            <ul>
                <a href="/about"><li>About</li></a>
                <a href="/filmography"><li>Filmography</li></a>
                <a href="/pictures"><li>Pictures</li></a>
            </ul>
            
        </article>    
    </div>
    
</body>
</html>