<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>Document</title>
</head>
<body>
    <h1>Image Gallery</h1>
    <a href="/home">Back to Home</a>
    <hr>
    <div class="pic-container">
        <img src="/images/Keanu1.jpg"alt="keanu-pic1"/>
        <img src="/images/Keanu2.jpeg"alt="keanu-pic2"/>
        <img src="/images/Keanu3.jpeg"alt="keanu-pic3"/>
        <img src="/images/Keanu4.jpeg"alt="keanu-pic4"/>
        <img src="/images/Keanu5.jpeg"alt="keanu-pic5"/>
        <img src="/images/Keanu6.jpg"alt="keanu-pic6"/>
        <img src="/images/Keanu7.jpeg"alt="keanu-pic7"/>
    </div>
</body>
</html>